<main>
    <div class="info">
        <h1>Declaración DMCA</h1>
        <p>Nuestra aplicación actúa como un navegador web que permite a los usuarios acceder y visualizar contenido disponible públicamente en Internet. No alojamos ni almacenamos ningún contenido protegido por derechos de autor en nuestros servidores. La función principal de nuestra aplicación es proporcionar una interfaz para que los usuarios accedan a contenido en línea de manera conveniente.
        </p>


<p>Entendemos la importancia de respetar los derechos de autor y nos comprometemos a cooperar con cualquier titular de derechos de autor que crea que su contenido ha sido utilizado de manera inapropiada a través de nuestra aplicación. Si eres el propietario de derechos de autor de cualquier contenido que se haya mostrado a través de nuestra aplicación y crees que se ha utilizado sin tu autorización, te invitamos a que tomes las acciones correspondientes directamente con la página de origen donde se aloja el contenido.
</p>
<p>Nuestra aplicación facilita a los usuarios la visualización de contenido en línea, proporcionando enlaces directos a las páginas web de origen. No tenemos control sobre el contenido alojado en estos sitios web externos y no asumimos responsabilidad por el mismo. Si consideras que tu contenido ha sido utilizado de manera inapropiada en nuestra aplicación, te recomendamos que te pongas en contacto con el administrador del sitio web de origen para resolver el problema.
</p>
<p>Para cualquier consulta relacionada con derechos de autor o para presentar una notificación DMCA, puedes ponerte en contacto con nuestro equipo de soporte a través de correo. Estaremos encantados de ayudarte y cooperar contigo en cualquier asunto relacionado con derechos de autor.
</p>
<p>Apreciamos tu comprensión y cooperación en el cumplimiento de las leyes de derechos de autor y estamos comprometidos a proteger los derechos de propiedad intelectual de los demás.
</p>
    </div>
</main>