<main>
    <div class="info">
        <h1>Información Legal</h1>
        <p>
            <b>Última actualización:</b> 2024-03-27
        </p>

        <h4>Descargo de responsabilidad</h4>
        <p>
            La aplicación My anime app que descargas desde nuestro sitio web actúa como un
            navegador web que recopila y muestra datos de diversas páginas web públicas para proporcionar contenido a
            los usuarios. Estos datos pueden incluir, entre otros, información, imágenes y vídeos que son accesibles
            públicamente en Internet.
        </p>

        <h4>Propósito de la Aplicación</h4>

        <p>
            La Aplicación tiene como objetivo proporcionar a los usuarios una forma conveniente de acceder a información
            disponible públicamente en Internet. No es responsable del contenido de las páginas web a las que se accede
            a través de la Aplicación.
        </p>
        <h4>Derechos de autor y propiedad intelectual</h4>
        <p>Entendemos la importancia del respeto a los derechos de autor y la propiedad intelectual. Dado que la
            Aplicación recopila datos de fuentes externas y no controla ni modifica el contenido, no podemos garantizar
            la exactitud, legalidad o legitimidad de dicho contenido. Si crees que tu contenido se ha utilizado de
            manera inapropiada en la Aplicación, le recomendamos tomar las medidas necesarias con las páginas de origen.
        </p>
        <h4>Uso de la Aplicación</h4>

        <p>Al utilizar la Aplicación, aceptas que nosotros no somos responsables de ningún contenido que puedas
            encontrar a través de ella. Te recomendamos que verifiques la legalidad del contenido y respetes los
            derechos de autor y propiedad intelectual al utilizar la Aplicación.
        </p>

        <h4>Cambios en la Política</h4>

        <p>Nos reservamos el derecho de actualizar o cambiar esta Política de Información Legal en cualquier momento. Te
            notificaremos cualquier cambio publicando la nueva Política en esta página.
        </p>
        <h4>Contacto</h4>
        <p>
            Si tienes alguna pregunta sobre esta Política de Información Legal, contáctanos a través de correo electronico a <a href="">joseph_0943&#64;outlook.com</a>.</p>
    </div>
</main>