<main class="container">
    <div class="sec-info">
        <div class="logo">
            <img src="assets/logo.png" alt="logo de My anime app">
        </div>
        <h1>
            My anime app
        </h1>
        <p>
          La aplicación My anime App para Android TV y Movil te permite disfrutar de tus animes favoritos sin tener que iniciar sesión y llevar un registro de los animes que has visto,
          tanto de los capítulos como del anime, y asi mismo llevar un registro de tus animes favoritos de manera local.
        </p>
        <a href="assets\descarga\my-anime-appv2.apk" (click)="actualizarDescarga()">
            Descargar Ahora
        </a>
        <p>Version 2.{{version}}.0</p>
    </div>

    <div class="sec-imagen">
        <div class="imagen">
            <img src="assets/main.png" alt="vista de la aplicación">
        </div>
        
    </div>
</main>
