  
  main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle, var(--color-secundario-1),var(--color-principal));
    padding: 30px 30px;
    color: var(--color-contraste);
    font-family: var(--tipografia-opciones);
  }

  h1{
    margin: 50px 0;
    font-family: var(--tipografia-titulo);
    font-size: xx-large;
  }
  h2, h3{
    margin: 20px 0;
  }

  
  .informacion {
    width: 40%;
    margin-right:40px;
    margin-bottom: 40px;
    line-height: 2;
  }
  

  li{
    margin: 5px 0;
    list-style: none;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-contraste);
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-principal);
    img, svg{
      height: 40px;
      color: var(--color-contraste);
    }
    p{
      color: var(--color-contraste);
      padding-left: 10px;
    }
    &:hover{
      background-color: var(--color-secundario-1);
      border: 2px solid var(--color-secundario-2);
    }
  }

  .principal{
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:60px;
    align-items: start;
    justify-content: center;
  }
  
  @media (max-width:900px) {
    .informacion{
        width: 100%;
        margin: 0;
        margin-bottom: 60px;
    }
    .principal{
        align-items: center;
        justify-content: center;
    }
  }