<main>
    <h1>Apoyarnos</h1>
    <div class="principal">
        
        <section class="informacion">
            <h2>¿Por qué es importante tu apoyo?</h2>
            <p>Nuestra aplicación se ha creado con pasión y dedicación para brindarte el mejor servicio posible. Tu
                apoyo nos ayuda a mantenernos en funcionamiento y nos impulsa a seguir mejorando y creciendo. Cada
                contribución, por pequeña que sea, marca la diferencia y nos permite continuar ofreciéndote un producto
                de calidad.</p>
            <p>¡Tu apoyo significa mucho para nosotros y nos ayuda a alcanzar nuestras metas! Juntos, podemos hacer
                grandes cosas.</p>
            <h2>¿Cómo puedes apoyarnos?</h2>
            <p>Si te gusta nuestra aplicación y deseas apoyar nuestro trabajo, puedes considerar hacer una contribución
                económica. Aquí te mostramos nuestras cuentas bancarias:</p>
        </section>
        <section class="cuentas">
            <h3>Cuentas para depósito:</h3>
            <ul>
                <li>Banco Pichincha: 2209985522</li>
                <li>Cooperativa JEP: 406097797303 </li>
                
            </ul>
            <h3>PayPal:</h3>
            <p>andichamba5&#64;gmail.com</p>
        </section>

    </div>
</main>