.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }

  .container-main{
    background-color: var(--color-secundario-1);
    background: radial-gradient(circle, var(--color-secundario-1),var(--color-principal));
    padding: 50px;
    
}
  
  .logo img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
  }
  .imagen{
    width: 100%;
    margin-bottom: 20px;
  }
  .imagen img{
    filter: drop-shadow(0px 0px 5px rgb(244, 219, 212));
    width: 100%;
  }
  p{
    font-family: var(--tipografia-opciones);
    font-size: large;
    line-height: 2;
    margin-bottom: 20px;
  }

  a{
    text-decoration: none;
    color: var(--color-contraste);
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--color-acento-1);
    font-size: x-large;
    margin: 0 10px;
    margin-bottom: 20px;
   
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    svg{
        margin: 0 10px;
    }
    &:hover{
        background-color: var(--color-acento-2);
    }
  }

  .btns-descargas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  h1 {
    
    font-size:50px;
    margin-bottom: 20px;
  }

  .sec-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--tipografia-titulo);
    color: var(--color-contraste);
  }


  .container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
  }

  @media (max-width: 900px) {
    .sec-imagen{
        width: 100%;
        padding: 0;
    }
    .sec-info{
        width: 100%;
    }
    .container{
        padding: 0;
    }
  }