:root {
    --color-principal: #000000;
    --color-contraste: #FFFFFF;
    --color-acento-1: #fa2c07;
    --color-secundario-1: #333333;
    --color-secundario-2: #CCCCCC;
    --color-acento-2: #F74747;
    --color-acento-3: #FF69B4;
    --color-acento-4: #AACCFF;
    --color-acento-5: #90EE90;
    --tipografia-titulo: 'Lato', sans-serif;
    --tipografia-opciones: 'Raleway', sans-serif;
  }
  
  
.teleprompter {
  height: 30%;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  display: none;
}

.actived{
  display: block;
}

.text-container {
  width: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  animation: scroll 25s linear infinite;
  padding: 10px 0;
  animation-play-state: running;
  font-size: 20px;
  white-space: nowrap;
  font-family: var(--tipografia-opciones);
}

.text {
  font-size: 20px;
  white-space: nowrap;
  font-family: var(--tipografia-opciones);
}

a{
  text-decoration: none;
  padding: 0 10px;
  color: var(--color-acento-1);
  cursor: pointer;
  &:hover{
    color: var(--color-acento-2);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-15px*125));
  }
}